<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="{% static 'biblioteque/styles.css' %}">
</head>
<body>


    <header> 
        <h1> Bienvenu dans la biblioteque de l'ecole</h1>
    </header>
    <div class="container">
            <div class="category-grid">
                {% for category in categories %}
                    <div class="category">
                        <h2>{{ category.name }}</h2>
                        <p>{{ category.description }}</p>
                    </div>
                {% endfor %}
            </div> 
    </div>

    
</body>
</html>
    