<!-- books_by_category.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ category.name }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div id="category-name-text">
      <h1>{{ category.name }}</h1>
    </div>
    <div id="books-container">
      <ul>
        {% for book in books %}
        <div id="book-container">
          <a href="{% url 'book_detail' category.name book.slug %}">
            <div class="book-item">
              <img src="{{book.cover_image}}"" alt="{{ book.name }} cover
              image">
              <span class="book-title"> {{ book.slug }} </span>
              by
              <span class="book-author">{{ book.author }}</span>
              <span> {{book.state}} </span>
            </div>
          </a>
        </div>

        {% empty %}
        <li>No books available in this category.</li>
        {% endfor %}
      </ul>
    </div>
    <div id="back-button">
      <a href="{% url 'category_list' %}">Back to Homepage</a>
    </div>
  </body>
</html>
